<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}AstroNews{% endblock %}</title>
        <!-- Link Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav role="navigation" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top border-bottom border-secondary">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if 'listArticles' in app.request.attributes.get('_route') %} active {% endif %}"><a class="nav-link" href="{{ path('listArticles') }}">Articles</a></li>
                        <li class="nav-item {% if 'listSections' in app.request.attributes.get('_route') %} active {% endif %}"><a class="nav-link" href="{{ path('listSections') }}">Sections</a></li>
                        
                        {% if app.user is not empty %}
                            <li class="nav-item {% if 'addArticle' in app.request.attributes.get('_route') %} active {% endif %}"><a class="nav-link" href="{{ path('addArticle')}}">Ajouter un article</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="mx-auto order-0">
                    <a class="navbar-brand" href="{{ path('index') }}">AstroNews</a>
                </div>

                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        {% if app.user is empty %}
                            <li class="nav-item {% if 'login' in app.request.attributes.get('_route') %} active {% endif %}"><a class="nav-link" href="{{ path('login') }}">Se connecter</a></li>
                            <li class="nav-item {% if 'register' in app.request.attributes.get('_route') %} active {% endif %}"><a class="nav-link" href="{{ path('register') }}">Créer un compte</a></li>
                        {% else %}
                            <li class="nav-item dropdown pt-1">
                                <a href="#" class="niv-link" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ asset('/image/icons/bell-icon.png') }}" alt="Icone de notification">
                                    {% if app.user.unreadNotifications is not empty %}
                                        <span class="badge badge-primary badge-pill">{{ app.user.unreadNotifications|length }}</span>
                                    {%  endif %}
                                </a>

                                <div class="dropdown-menu dropdown-menu-right" style="max-height: 400px; overflow: auto" aria-labelledby="navbarDropdownMenuLink">
                                    <a href="{{ path('notifSettings') }}" class="dropdown-header">Options de notification</a>
                                    <div class="dropdown-divider"></div>
                                    {% for notification in app.user.notifications|reverse %}
                                        <div class="container mr-3">
                                            <a href="{{ path('notifAction', {'notification': notification.id}) }}" class="pr-0 dropdown-item row">
                                                <h6 class="m-0">
                                                    {% if notification.hasBeenRead == false %}
                                                        {% if notification.importance == "low" %}
                                                            <span class="badge badge-primary badge-pill">&nbsp;</span>
                                                        {% elseif notification.importance == "medium" %}
                                                            <span class="badge badge-warning badge-pill">&nbsp;</span>
                                                        {% elseif notification.importance == "high" %}
                                                            <span class="badge badge-danger badge-pill">&nbsp;</span>
                                                        {% endif %}
                                                    {% endif %}
                                                    <span>{{ notification.subject }}</span>
                                                </h6>
                                                <small>{{ notification.content }}</small>
                                            </a>
                                        </div>
                                        {% if notification != app.user.notifications|first %}
                                            <div class="dropdown-divider"></div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                            <li class="nav-item"><a class="nav-link " href="{{ path('logout') }}">Se déconnecter</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- Link Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
